@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin:0;
  background-color:#e8effc
}

#nav{
  width:100%;
  height:100px;
  background-color:#d04949;
  position:fixed;
  top:0;
  border-bottom:solid black 1px;
  box-shadow: 2px 2px 2px 2px  #999999;
}

#nav-right {
  position:fixed;
  top:25px;
  right:20px;
  font-family:"Montserrat", sans-serif;
}

#about{
  width:75%;
  margin:auto;
  height:1000px;
  background-color:#a4c0f4;
  border:black solid 1px;
  border-top:none;
 }

#portfolio {
  width:75%;
  margin:auto;
  height:1000px;
  background-color:#78a1ed;
  border:black solid 1px;
  border-top:none;
}

#contact {
  width:75%;
  margin:auto;
  height:1000px;
  background-color:#bbd0f6;
  border:black solid 1px;
  border-top:none;
}

#aboutme {
  margin: 0 auto;
 }

h1{
  padding-top:5px;
  padding-left:40px;
  font-family:"Montserrat", sans-serif;
  font-size:40px;
  color:white;
 }

ul li {
  list-style:none;
  display:inline-block;
  padding:10px 20px 10px 20px;
  font-size:24px;
  font-weight:bold;
}

li:hover {
  background-color:white;
  cursor:pointer;
}

@media (min-width: 780px) {
    #menu-icon {
        display: none;
    }
}

@media (max-width:780px){
  #nav-right {
    background-color:#d04949;
    width:400px;
    top:100px; 
    z-index:50;
    border: solid black 1px;
    border-top:none;
   }
  
    ul li {
    padding:2px 5px 2px 5px;
  }
  
#menu-icon {
  float:right;
  list-style:none;
  font-size:40px;
  top:-100px;
  margin:20px;
  padding:0;
  position:relative;
}

#menu-icon a {
  color:black;
  padding:0;
  margin:0;
}
  #menu-icon
  a:hover{
    font-size:42px;
    cursor:pointer;
    text-decoration:none;
  }
}

@media (max-width:430px){
  #nav-right {
    width:105%;
    margin-right:-6%;
    padding:0;
   }
    h1 {
    font-size:35px;
    margin-top:25px;
   }
}

@media (max-width:1100px){
  #about {
   width:100%
   }
    #portfolio {
   width:100%
   }
    #contact {
   width:100%
   }
}
